.navbar-logo-icon {
  height: 3.5rem !important;
  //width: 3.25rem !important;
  max-width: none !important;
  object-fit: contain;

  @media (max-width: 640px) {
    height: 3.5rem !important;
    width: 3rem !important;
  }

  @media (max-width: 380px) {
    height: 3rem !important;
    width: 2.125rem !important;
  }
}
