.navbar-logo-icon {
  height: 2.75rem !important;
  width: 2rem !important;
  max-width: none !important;
  object-fit: contain;

  @media (max-width: 380px) {
    height: 2.25rem !important;
    width: 1.625rem !important;
  }
}